/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

input[type="text"], input[type="password"], input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

/* Home Page Specific Styles */
.home-container {
  max-width: 1200px; /* Prevent content from being too wide on large screens */
  min-width: 400px;  /* Prevent it from becoming too narrow on small screens */
  width: 60%;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-not-logged-in {
  text-align: center;
  margin-top: 50px;
}

.files-list {
  margin-top: 20px;
}

.files-list ul {
  list-style-type: none;
  padding: 0;
}

.files-list li {
  margin: 10px 0;
}
